.App {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.HomePage {
  display: flex;
  flex-direction: column;
}
.HomePage .gymBuddy {
  font-size: 60px;
}
.HomePage .header_gymBuddy {
  flex-grow: 0;
}
.HomePage .loginBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flexC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexR {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
